#! /bin/bash

# This script checks wether the Java server is running to notify in the event of a failure
# this file should be duplicated with another/no extension before editing, as this .exmple
# is intended to act as a template.

# Determines the absoulte path in which the updater script is located
SCRIPT_DIR=$(dirname ${BASH_SOURCE[0]})

ADMIN="<Admin's UID to mention>"
WH_URL="<Discord's WebHook URL>"
UPDATER_DIR="<updater.sh parent directory>"

flagdir="$SCRIPT_DIR/.hflag"

# Creates the flag dotfile if it doesn't exist. 0 allows notifications and 1 doesn't.
if [ ! -f $flagdir || ! -f "$UPDATER_DIR/.hflag" ]
then
  echo "flag="0"" > $flagdir
  ln -s $flagdir $UPDATER_DIR/.hflag
fi

source $flagdir

send_notification() {
  
  # Construct payload
  local payload=$(cat <<EOF
{
  "content": "CraftCeres se ha caído, @everyone.\nCambiad el nombre del canal mientras se restaura."
}
EOF
)
    curl -H "Content-Type: application/json" -X POST -d "$payload" $WH_URL
}

if [ -z "$(pidof java)" ]
then

  if [ $flag -eq 0 ]
  then
    send_notification
    echo "flag="1"" > $flagdir
  fi

elif [ -n "$(pidof java)" && $flag -eq 1 ]
then echo "flag="0"" > $flagdir
fi