# --------------------------------------------------------------------------------------- #
# Modify these variables with the corresponding values (do not use "/" after a directory) #
# --------------------------------------------------------------------------------------- #
papermc_path="<path to the papermc.jar parent directory>"
tmux_session_name="<name of the tmux session where papermc is running>"
# tmux_session_path is usually found at '/tmp/tmux-<UID_of_the_invoker>/default'
tmux_session_path="<path to the tmux session location>"

# --------------------------------------------------------------------------------------- #
# Uncomment both the following variables and define the corresponding values to enable    #
# the reporter, otherwise it will just show a warning reporting that it is not enabled.   #
# --------------------------------------------------------------------------------------- #
# Only 'TOKEN' should be replaced with the API token the BotFather generated
# bot_url="https://api.telegram.org/botTOKEN/sendMessage"
# chat_id="<ID of the chat with the bot>"
